<li class="list-group-item" [ngClass]="{'list-group-item-success': post.like > 0, 'list-group-item-danger': post.like < 0}">
      <h3>{{post.name}}</h3>
      <p>{{post.date | date: ' EEEE, MMMM d y'}}</p>
      <p>{{post.content}}</p>
      <button class="btn btn-success" (click)="onPostLike(true)"> +1 </button>
      <button class="btn btn-danger" (click)="onPostLike(false)"> -1 </button>
      <button class="pull-right btn btn-danger" (click)="onDeletePost()"> delete </button>
      {{post.like}}
</li>
